* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'SF Pro Display', sans-serif;
  user-select: none;
}

body {
  background-color: white;
}

:root {
  --2px: calc(2 / 19.2 * 1vw);
  --5px: calc(5 / 19.2 * 1vw);
  --8px: calc(8 / 19.2 * 1vw);
  --10px: calc(10 / 19.2 * 1vw);
  --14px: calc(14 / 19.2 * 1vw);
  --15px: calc(15 / 19.2 * 1vw);
  --16px: calc(16 / 19.2 * 1vw);
  --18px: calc(18 / 19.2 * 1vw);
  --20px: calc(20 / 19.2 * 1vw);
  --24px: calc(24 / 19.2 * 1vw);
  --25px: calc(25 / 19.2 * 1vw);
  --30px: calc(30 / 19.2 * 1vw);
  --35px: calc(35 / 19.2 * 1vw);
  --36px: calc(36 / 19.2 * 1vw);
  --40px: calc(40 / 19.2 * 1vw);
  --50px: calc(50 / 19.2 * 1vw);
  --64px: calc(64 / 19.2 * 1vw);
  --65px: calc(65 / 19.2 * 1vw);
  --75px: calc(75 / 19.2 * 1vw);
  --100px: calc(100 / 19.2 * 1vw);
  --150px: calc(150 / 19.2 * 1vw);
  --200px: calc(200 / 19.2 * 1vw);
  --300px: calc(300 / 19.2 * 1vw);
  --400px: calc(400 / 19.2 * 1vw);
  --500px: calc(500 / 19.2 * 1vw);
}

/* typography */
h1 {
  font-size: var(--64px);
}

h2 {
  font-size: var(--40px);
}

h3 {
  font-size: var(--36px);
}

h4 {
  font-size: var(--24px);
}

h5 {
  font-size: var(--20px);
}

h6 {
  font-size: var(--16px);
}

p {
  font-size: var(--18px);
  font-weight: normal;
}

.btn {
  padding: var(--15px) var(--30px);
  text-decoration: none;
  font-size: var(--20px);
  border-radius: calc(4 / 19.2 * 1vw);
  transition: transform 0.1s linear;
}

.btn:hover {
  transform: translateY(calc(-2 / 19.2 * 1vw));
}

.transparent-btn {
  margin: 0;
  border: var(--2px) solid transparent;
  background-color: transparent;
  color: #3C41F0;
}

.color-btn {
  border: var(--2px) solid #3C41F0;
  background-color: #3C41F0;
  color: white;
}

.white-btn {
  border: var(--2px) solid #3C41F0;
  background-color: white;
  color: #3C41F0;
}

/* -------------------------
HEADER
------------------------- */
.header {
  background-color: transparent;
  position: fixed;
  top: 0;
  transition: top 0.5s ease-in-out;
  z-index: 100;
  width: 100%;
}

.nav-up {
  top: calc(-110 / 19.2 * 1vw);
}

.header .container {
  max-width: 85%;
  height: calc(100 / 19.2 * 1vw);
  padding: var(--10px) var(--40px);
  margin: var(--10px) auto;
  border-radius: calc(150 / 19.2 * 1vw);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 var(--5px) rgba(0, 0, 0, 0.1);
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-link {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: var(--20px);
  text-decoration: none;
  color: black;
  text-align: center;
}

.logo {
  width: calc(54 / 19.2 * 1vw);
  height: calc(57 / 19.2 * 1vw);
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: var(--25px);
  font-size: var(--24px);
  font-weight: bold;
  color: #3C41F0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-item {
  position: relative;
  margin: 0 var(--20px);
}

.navbar-link {
  text-decoration: none;
  color: black;
  font-size: var(--20px);
  font-weight: bold;
  display: flex;
  align-items: center;
}

.dropdown-arrow {
  width: calc(8 / 19.2 * 1vw);
  height: calc(5 / 19.2 * 1vw);
  margin-left: var(--5px);
  display: inline-flex;
  align-items: center;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 4px rgba(0, 0, 0, 0.1);
  list-style: none;
  margin: 0;
  padding: 10px 0;
}

.header-btns {
  display: flex;
  align-items: center;
  gap: var(--15px);
}

/* -------------------------
SECTION 1: HERO
------------------------- */
.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 75%;
  margin: 0 auto;
  padding: var(--150px) var(--20px) var(--200px);
  position: relative;
}

.hero-text h1 {
  margin-bottom: var(--50px);
}

.hero-text h4 {
  max-width: 75%;
  margin-bottom: var(--40px);
  font-weight: 500;
}

.hero-btns {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: var(--30px);
  margin-bottom: var(--50px);
}

.hero-btns .btn {
  font-size: var(--20px);
  font-weight: 700;
  text-transform: uppercase;
  padding: var(--20px) var(--35px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .school-list {
  max-width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero .school-list img {
  height: calc(65 / 19.2 * 1vw);
  width: auto;
  opacity: 0.35;
  mix-blend-mode: luminosity;
}

.hero-imgs {
  position: relative;
  display: inline-flex;
  align-items: flex-start;
}

.hero .phone {
  width: calc(783 / 19.2 * 1vw);
  height: auto;
}

/* -------------------------
SECTION 2: DATA
------------------------- */
.data .container {
  max-width: 75%;
  margin: 0 auto;
  padding: var(--50px) 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.data-text {
  position: relative;
}

.data-text h2 {
  margin-bottom: var(--50px);
}

.data-text h4 {
  margin-bottom: var(--50px);
  font-weight: 400;
}

.data-numbers {
  width: 50%;
  margin-bottom: var(--25px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: left;
  align-items: start;
  gap: var(--15px);
}

.data-numbers h1,
.data-numbers p {
  width: 100%;
  margin: 0;
}

.data-text h5 {
  margin-bottom: var(--30px);
}

.data-btn {
  display: flex;
  align-items: center;
  justify-content: normal;
}

.learn-more-btn {
  border: none;
  padding: 0;
  font-size: var(--30px);
  font-weight: bold;
}

.data-imgs {
  position: relative;
}

.data-imgs .shadow {
  width: calc(850 / 19.2 * 1vw);
  height: auto;
  position: absolute;
  left: 0;
  bottom: calc(-25 / 19.2 * 1vw);
}

.data-imgs .desk {
  width: calc(780 / 19.2 * 1vw);
  height: auto;
}

/* -------------------------
SECTION 3: SOLUTIONS
------------------------- */
.solutions .container {
  max-width: 75%;
  margin: 0 auto;
  padding: 50px 100px 50px 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.solutions .vector {
  width: calc(812 / 19.2 * 1vw);
  position: absolute;
  right: calc(75 / 19.2 * 1vw);
  top: calc(350 / 19.2 * 1vw);
  z-index: 1;
}

.solutions .left {
  z-index: 2;
}

.solutions h2 {
  margin-bottom: var(--10px);
}

.solutions h4 {
  width: 35%;
}

.solutions .laptop {
  width: calc(1086 / 19.2 * 1vw);
  height: auto;
}

.solutions-column {
  padding: calc(200 / 19.2 * 1vw) var(--10px);
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--10px);
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

.solution-box {
  width: calc(140 / 19.2 * 1vw);
  height: calc(150 / 19.2 * 1vw);
  text-decoration: none;
  border-radius: var(--16px);
  box-shadow: 0 0 25px -5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transform-style: preserve-3d;
  transition: transform 0.6s ease-in-out;
}

.solution-box:hover {
  transform: rotateY(180deg);
}

.solution-box .box-front,
.solution-box .box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: var(--10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--15px);
  text-align: center;
  border-radius: var(--16px);
  backface-visibility: hidden;
}

.solution-box .box-front {
  background: white;
  color: #3C41F0;
}

.solution-box .box-back {
  background: #3C41F0;
  color: white;
  transform: rotateY(180deg);
}

.solution-box h6 {
  margin: 0;
}

.solution-box svg {
  width: 100%;
  height: calc(60 / 19.2 * 1vw);
  object-fit: contain;
}

/* -------------------------
SECTION 4: GETTING STARTED
------------------------- */
.getting-started .container {
  max-width: 70%;
  margin: 0 auto;
  padding: 0 0 var(--500px);
  position: relative;
  display: block;
  align-items: center;
  justify-content: center;
}

.getting-started .text {
  margin: 0 0 var(--25px);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.getting-started .text h2 {
  margin-bottom: var(--15px);
}

.getting-started .text h4 {
  width: 45%;
  color: #505050;
  font-weight: normal;
}

.getting-started .imgs {
  position: relative;
  display: flex;
  justify-content: center;
}

.getting-started .line {
  width: calc(960 / 19.2 * 1vw);
  height: calc(1046 / 19.2 * 1vw);
  position: relative;
}

.getting-started .phone {
  width: calc(310 / 19.2 * 1vw);
  height: auto;
  border-radius: var(--25px);
  border: var(--8px) solid #F4F4F4;
  box-shadow: 0 0 var(--30px) 0 rgba(20, 0, 255, 0.25);
  position: absolute;
}

.getting-started .phone.step-1 {
  right: 0px;
  top: var(--200px);
}

.getting-started .phone.step-2 {
  bottom: calc(-400 / 19.2 * 1vw);
  left: 0;
}

.getting-started .step {
  position: absolute;
}

.getting-started .step .number {
  color: #3C41F0;
}

.getting-started .step .content {
  color: #505050;
  font-weight: normal;
}

.getting-started .step.step-1 {
  top: var(--500px);
  left: var(--200px);
  text-align: right;
}

.getting-started .step.step-2 {
  bottom: var(--400px);
  right: calc(250 / 19.2 * 1vw);
  text-align: left;
}

/* -------------------------
SECTION 5: SUCCESS
------------------------- */
.success .container {
  max-width: 75%;
  margin: 0 auto;
  padding: 0 0 var(--200px);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.success .img {
  position: relative;
}

.success .vector {
  width: calc(812 / 19.2 * 1vw);
  height: calc(773 / 19.2 * 1vw);
  position: relative;
  z-index: 1;
}

.success .thumbs-up {
  width: var(--500px);
  height: auto;
  position: absolute;
  left: var(--50px);
  bottom: var(--25px);
  z-index: 3;
}

.success .shadow {
  width: calc(473 / 19.2 * 1vw);
  height: auto;
  position: absolute;
  left: calc(90 / 19.2 * 1vw);
  bottom: var(--40px);
  z-index: 2;
}

.success .text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.success h3 {
  font-weight: 500;
  width: 75%;
  text-align: center;
}

/* -------------------------
SECTION 6: SCHOOLS
------------------------- */
.schools .container {
  max-width: 75%;
  margin: 0 auto;
  padding: var(--50px) var(--20px) var(--100px);
  position: relative;
}

.schools h2 {
  text-align: center;
}

.schools-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--25px) 0;
}

.schools-list img {
  height: var(--100px);
  width: auto;
}

.schools h5 {
  text-align: center;
  max-width: 75%;
  margin: 0 auto;
  font-weight: normal;
  color: #505050;
}

.schools .btns {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: var(--15px);
}

/* -------------------------
SECTION 7: TESTIMONIALS
------------------------- */
.testimonials {
  padding: var(--50px) 0;
}

.testimonials .container {
  max-width: 75%;
  margin: 0 auto var(--100px);
  padding: var(--75px) var(--50px);
  position: relative;
  background-color:#7E91FF;
  border-radius: calc(128 / 19.2 * 1vw);
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials .slider {
  position: relative;
  width: 100%;
  height: calc(725 / 19.2 * 1vw);
  padding: var(--25px) 0;
  overflow: hidden;
}

.slider .item {
  position: absolute;
  width: var(--400px);
  background-color: white;
  border-radius: var(--10px);
  padding: 0;
  transition: 0.5s;
  left: calc(50% - calc(200 / 19.2 * 1vw));
  top: var(--15px);
  z-index: 5;
}

.slider .item-img {
  width: var(--400px);
  height: var(--400px);
}

.slider .item-img img {
  width: var(--400px);
  height: var(--400px);
  border-radius: var(--10px) var(--10px) 0 0;
}

.slider .item-text {
  padding: var(--20px);
}

.slider .item-text h4, 
.slider .item-text h6, 
.slider .item-text .content {
  margin-bottom: var(--10px);
}

.slider .content {
  font-size: var(--16px);
}

.slider #prev,
.slider #next {
  position: absolute;
  top: 45%;
  color: #fff;
  background-color: transparent;
  border: none;
  font-size: calc(56 / 19.2 * 1vw);
  font-family: monospace;
  font-weight: bold;
  z-index: 10;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

.slider #prev:hover,
.slider #next:hover {
  transform: scale(1.2);
}

.slider #prev {
  left: var(--50px);
}

.slider #next {
  right: var(--50px);
}

/* -------------------------
SECTION 8: FORM
------------------------- */
.form {
  padding: var(--50px) 0 var(--100px);
}

.form .container {
  max-width: 50%;
  margin: 0 auto;
  padding: var(--25px) var(--50px);
  position: relative;
  border-radius: var(--20px);
  box-shadow: 0 0 var(--5px) rgba(0, 0, 0, 0.1);
  text-align: center;
  background: white;
}

.form .text {
  margin-bottom: var(--25px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form .text h4 {
  font-weight: normal;
  color: #505050;
  width: 60%;
}

.form-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--10px);
  margin-bottom: var(--10px);
}

.input-box {
  flex: 1;
}

input[type="text"] {
  height: calc(55 / 19.2 * 1vw);
  width: 100%;
  font-size: var(--18px);
  font-weight: bold;
  text-align: left;
  padding: 0 var(--15px);
  border: none;
  outline-color: #3C41F0;
  border-radius: var(--5px);
  background: white;
  box-shadow: 0 0 var(--5px) rgba(0, 0, 0, 0.15);
}

textarea {
  min-height: var(--300px);
  width: 100%;
  font-size: var(--18px);
  font-weight: bold;
  text-align: left;
  padding: var(--20px);
  border: none;
  outline-color: #3C41F0;
  border-radius: var(--20px);
  background: white;
  resize: none;
  box-sizing: border-box;
  box-shadow: 0 0 var(--5px) rgba(0, 0, 0, 0.15);
}

input[type="button"] {
  padding: var(--10px) var(--50px);
  font-size: var(--16px);
  border-radius: calc(4 / 19.2 * 1vw);;
  border: var(--2px) solid #3C41F0;
  background-color: #3C41F0;
  color: white;
  transition: transform 0.1s linear;
  cursor: pointer;
}

input[type="button"]:hover {
  transform: translateY(calc(-2 / 19.2 * 1vw));
}

/* -------------------------
SECTION 9: FAQs
------------------------- */
.faq .container {
  max-width: 75%;
  margin: 0 auto;
  padding: var(--50px) 0;
  position: relative;
}

.faq h2 {
  text-align: center;
  margin-bottom: var(--40px);
}

.accordion {
  max-width: 75%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--15px);
}

.accordion .item {
  padding: var(--25px);
  border-radius: var(--10px);
  background: white;
}

.accordion .item .question {
  width: 100%;
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--16px) 0;
  cursor: pointer;
}

.accordion .item .minus {
  display: none;
}

.accordion .item .content {
  max-height: 0;
  overflow: hidden;
  position: relative;
  transition: max-height 0.3s ease-in-out;
}

.accordion .item.active .content {
  max-height: calc(320 / 19.2 * 1vw);
}

.accordion .item.active .plus {
  display: none;
}

.accordion .item.active .minus {
  display: block;
}

.bubble-letters {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bubble-letters img {
  width: calc(1325 / 19.2 * 1vw);;
}

/* -------------------------
FOOTER
------------------------- */
.footer {
  background: #17171A;
  width: 100%;
}

.footer .container {
  max-width: 75%;
  padding: calc(70 / 19.2 * 1vw) 0 0;
  margin: 0 auto;
}

.footer .links {
  display: flex;
  align-items: start;
  justify-content: space-between;
  color: white;
  margin-bottom: var(--50px);
}

.footer .logo-container {
  margin-bottom: var(--15px);
}

.footer .title {
  color: white;
}

.footer .copyright p {
  margin-bottom: var(--5px);
  font-size: var(--14px);
  opacity: 0.5;
}

.footer h5 {
  margin-bottom: var(--20px);
}

.footer .the-company ul {
  list-style: none;
}

.footer .the-company li {
  margin-bottom: var(--15px);
}

.footer-link {
  color: white;
  text-decoration: none;
  font-weight: 300;
  font-size: var(--16px);
}

.footer .the-company,
.footer .connect {
  margin-top: var(--40px);
}

.footer .connect .container {
  max-width: 100%;
  margin: var(--10px) 0 var(--30px);
  padding: 0;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: var(--15px);
}

.footer .social-btn {
  width: var(--65px);
  height: var(--65px);
  color: white;
  padding: var(--20px);
  background-color: #1F1F23;
  border: none;
  border-radius: var(--10px);
  box-shadow: 0 0 var(--5px) rgba(255, 255, 255, 0.5);
}

.social-btn img {
  width: var(--25px);
  height: var(--25px);
}

.footer .hor-divider {
  max-width: 100%;
  background-color: rgba(255, 255, 255, 0.50);
  height: calc(1 / 19.2 * 1vw);;
  margin: var(--10px) 0;
}

.footer .below {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer .below .btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--15px);
  padding: var(--30px) 0;
}

.footer .below .download-btn {
  padding: 0;
}

.footer .below .download-btn img {
  height: calc(58 / 19.2 * 1vw);;
}

.footer .below .policies {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer .below .ver-divider {
  width: calc(28 / 19.2 * 1vw);;
  height: calc(1 / 19.2 * 1vw);;
  transform: rotate(90deg);
  background-color: rgba(255, 255, 255, 0.50);
}