* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'SF Pro Display', sans-serif;
  user-select: none;
}

body {
  background-color: white;
  padding-top: 70px;
}

/* typography */
h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.25rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1.15rem;
}

p {
  font-size: 1.1rem;
  font-weight: normal;
}

/* HEADER */
.header {
  background-color: transparent;
  position: fixed;
  top: 0;
  transition: top 0.5s ease-in-out;
  z-index: 100;
  width: 100%;
}

.nav-up {
  top: -80px;
}

.header .container {
  display: flex;
  max-width: 75%;
  height: 70px;
  padding: 10px 20px;
  margin: 10px auto;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-link {
  display: flex;
  text-decoration: none;
  color: black;
  text-align: center;
}

.title {
  align-content: center;
  margin-right: 25px;
  font-size: 20px;
  font-weight: bold;
}

.navbar {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.navbar-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-item {
  position: relative;
  margin: 0 20px;
}

.navbar-link {
  text-decoration: none;
  color: black;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.dropdown-arrow {
  margin-left: 5px;
  display: inline-flex;
  align-items: center;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 4px rgba(0, 0, 0, 0.1);
  list-style: none;
  margin: 0;
  padding: 10px 0;
}

.navbar-btns {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.btn {
  margin-left: 15px;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  transition: transform 0.1s linear;
}

.btn:hover {
  transform: translateY(-2px);
}

.sign-in-btn {
  margin: 0;
  border: 2px solid white;
  background-color: white;
  color: #3C41F0;
}

.sales-btn {
  border: 2px solid #3C41F0;
  background-color: #3C41F0;
  color: white;
}

.try-btn {
  border: 2px solid #3C41F0;
  background-color: white;
  color: #3C41F0;
}

/* SECTION 1: HERO */
.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 75%;
  margin: 0 auto 400px;
  padding: 50px 20px;
  position: relative;
}

.hero-text {
  flex: 1;
  margin-right: 20px;
}

.hero-text h1 {
  margin-bottom: 30px;
}

.hero-text h3 {
  margin-bottom: 25px;
}

.hero-btns {
  display: flex;
}

.hero-btns .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 75px;
  margin: 0 60px 0 0;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 2;
}

.hero-imgs {
  flex: 1.5;
  position: relative;
}

.hero-imgs .guy {
  width: auto;
  height: 788px;
  position: absolute;
  top: 385px;
  right: -30px;
}

.hero-imgs .guy-shadow {
  position: absolute;
  right: -165px;
  bottom: -700px;
}

.hero-imgs .girl {
  width: auto;
  height: 1121px;
  position: absolute;
  right: 1000px;
  top: 400px;
  z-index: 1;
}

.hero-imgs .bubble {
  height: 175px;
  position: absolute;
  top: 525px;
  left: -450px;
  z-index: 1;
}

.hero-imgs .girl-shadow {
  position: absolute;
  left: -750px;
  bottom: -925px;
}

/* SECTION 2: HOW IT WORKS */
.how-container {
  max-width: 75%;
  margin: 0 auto;
  padding: 0 0 100px;
  position: relative;
  display: block;
  align-items: center;
  justify-content: center;
}

.how-title {
  margin: 0 0 25px;
  text-align: center;
}

.how-imgs {
  position: relative;
}

.how-imgs .line {
  position: relative;
  left: 175px;
}

.how-imgs .phone {
  width: 395px;
  height: auto;
  border-radius: 25px;
  border: 8px solid #F4F4F4;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
  position: absolute;
}

.how-imgs .phone.step-1 {
  right: 0;
  top: 200px;
}

.how-imgs .phone.step-2 {
  bottom: -200px;
  left: 0;
}

.how-step {
  position: absolute;
}

.how-step.step-1 {
  top: 400px;
  right: 450px;
  text-align: right;
}

.how-step.step-2 {
  bottom: 625px;
  left: 450px;
  text-align: left;
}

/* SECTION 3: SOLUTIONS */
.solutions-container {
  max-width: 75%;
  margin: 0 auto;
  padding: 0 0 100px;
  position: relative;
}

.solutions-areas {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.solutions-areas h2 {
  text-align: center;
  margin-bottom: 50px;
}

.solutions-areas .left {
  flex: 1;
}

.solutions-areas .desk {
  width: 780px;
  height: auto;
  position: relative;
}

.solutions-areas .shadow {
  position: absolute;
  left: -125px;
  bottom: 75px;
}

.solutions-column {
  flex: 1;
  background: url('assets/images/solutions/Vector.png') no-repeat center;
  padding: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.solution-box {
  width: 140px;
  height: 150px;
  text-decoration: none;
  border-radius: 16px;
  box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transform-style: preserve-3d;
  transition: transform 0.6s ease-in-out;
}

.solution-box:hover {
  transform: rotateY(180deg);
}

.solution-box .box-front,
.solution-box .box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  text-align: center;
  border-radius: 16px;
  backface-visibility: hidden;
}

.solution-box .box-front {
  background: white;
  color: #3C41F0;
  
}

.solution-box .box-back {
  background: #3C41F0;
  color: white;
  transform: rotateY(180deg);
}

.solution-box img {
  max-width: 100%;
  max-height: 60px;
  object-fit: contain;
}

/* SECTION 4: Data */
.data-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 50px 0;
  position: relative;
}

.data-bg {
  background: #7E91FF;
  margin: 50px 0;
}

.data-container .phone {
  position: absolute;
  top: 0;
  left: 12.5vw;
}

.data-text-container {
  max-width: 75%;
  margin: 0 auto;
  padding: 125px 0;
  position: relative;
  display: flex;
  justify-content: right;
  align-items: center;
}

.data-text {
  width: 60%;
  color: white;
}

.data-text h2 {
  margin-bottom: 20px;
}

.data-text p {
  width: 60%;
  margin-bottom: 50px;
}

.data-numbers {
  width: 50%;
  margin-bottom: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: left;
  align-items: center;
  gap: 15px;
}

.data-numbers h2,
.data-numbers p {
  width: 100%;
  margin: 0;
}

.data-text h5 {
  margin-bottom: 30px;
}

.link {
  color: black;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.data-text .link.learn-more {
  color: white;
}

.success-bg {
  background: linear-gradient(180deg, white, rgba(60, 65, 240, 0.1));
}

.success {
  max-width: 75%;
  margin: 0 auto;
  padding: 75px 0 100px;
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
}

.success h3 {
  font-weight: 500;
  width: 60%;
}

.success .guy {
  width: 456px;
  height: auto;
  position: absolute;
  right: -50px;
  bottom: 0px;
}

.success .shadow {
  position: absolute;
  bottom: -45px;
  right: -135px;
}

/* SECTION x: SCHOOLS */
.schools {
  background: linear-gradient(180deg, rgba(60, 65, 240, 0.1), white);
}

.schools-container {
  max-width: 75%;
  margin: 0 auto;
  padding: 50px 20px;
  position: relative;
}

.schools-container h2 {
  text-align: center;
}

.schools-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0;
}

.schools-list img {
  max-height: 100px;
  width: auto;
}

.schools-container p {
  text-align: center;
  max-width: 50%;
  margin: 0 auto;
}